{% extends "homebase.html" %}

{% block title %} Referanslarimiz-{{ setting.company }}{% endblock %}
{% block keywords %}{{ setting.keywords }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}

{% block head %}
    <link rel ='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}



{% block content %}
        <div class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item" href="/">Anasayfa</a>
            <span class="breadcrumb-item active">Referanslarimiz</span>
        </div>
    </div>
    <section class="static about-sec">
        <div class="container">
            {{ setting.referances | safe }}
{#            safe ladirirsak html tag seklinde textler verir ekrana #}

        </div>
    </section>

{% endblock %}