{% load static %}

<section class="slider">
        <div class="container">
            <div id="owl-demo" class="owl-carousel owl-theme">
                {% for rs in sliderdata %}
                <div class="item">
                    <div class="slide">
                        <img src="{{rs.image.url  }} " alt="">
                        <div class="content">
                            <div class="title">
                                <h3>{{  rs.title }}</h3>
                                <h5>{{ rs.description }}</h5>
                                <a href="/product/{{ rs.id }}/{{ rs.slug }}" class="btn">Hemen Satin Al</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
</section>
